<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.ttnd.workshop.controllers.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.ttnd.workshop.controllers.RegistrationController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ttnd.workshop.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLooController</display-name>
    <servlet-name>AddLooController</servlet-name>
    <servlet-class>com.ttnd.workshop.controllers.AddLooController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLooController</servlet-name>
    <url-pattern>/AddLooController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLooController</display-name>
    <servlet-name>UpdateLooController</servlet-name>
    <servlet-class>com.ttnd.workshop.controllers.UpdateLooController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLooController</servlet-name>
    <url-pattern>/UpdateLooController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLooController</display-name>
    <servlet-name>DeleteLooController</servlet-name>
    <servlet-class>com.ttnd.workshop.controllers.DeleteLooController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLooController</servlet-name>
    <url-pattern>/DeleteLooController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicViewController</display-name>
    <servlet-name>PublicViewController</servlet-name>
    <servlet-class>com.ttnd.workshop.controllers.PublicViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicViewController</servlet-name>
    <url-pattern>/PublicViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingController</display-name>
    <servlet-name>RatingController</servlet-name>
    <servlet-class>com.ttnd.workshop.controllers.RatingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingController</servlet-name>
    <url-pattern>/RatingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDataLooController</display-name>
    <servlet-name>UpdateDataLooController</servlet-name>
    <servlet-class>com.ttnd.workshop.controllers.UpdateDataLooController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDataLooController</servlet-name>
    <url-pattern>/UpdateDataLooController</url-pattern>
  </servlet-mapping>
</web-app>